include README.md
include LICENSE
include pyproject.toml
recursive-include src/monocr *.py
recursive-include src/monocr/models *.pt
recursive-include tests *.py
recursive-include demo *.py
recursive-include demo/images *.png
recursive-include demo/images *.jpg
global-exclude __pycache__
global-exclude *.py[co]
